<%= provide(:title, 'New User') %>

<div class="hero-unit">
  <h1>Welcome to Hell, New User!</h1>
  <p>We'll only say this once:</p>
  <%= link_to "Click Here NOW!!", about_path, class: "btn btn-large btn-primary" %>
</div>
