<footer class="footer">
  <small>
    <a href="http://4.bp.blogspot.com/_Ylv1gp9svN8/TKD6CDelx3I/AAAAAAAAAPU/n4UW6uPBmOU/s1600/Bax+Lion+Lot.jpg">Smash Your Head Against a Train</a>
    by Batman
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://theonion.com/">News</a></li>
    </ul>
  </nav>
</footer>
